/**Navbar Starts**/

body {
    
    background-image: url('new-bg2.jpg');
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    
}

.logo{
    width: 136px;
    height: 131px;
}
.search{
    border-radius: 150px;
    width: 300px;
    height: 50px;
    background-color: #1E1E1E;
    padding: 20px;
    color: white;
    margin-left: 72px;
    margin-right: 50px ;
    margin-top: 34px

}
.autocomplete-items{
    
    border-radius: 0 0 150px 150px;
   
    width: 291px;
    height: 50px;
    margin-left: 71px;
    padding-left: 10px;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 20px;
}
/**Navbar Starts**/
.mercury h1{
font-size: 45px;
}
.mercury{
    margin: 30px;
}

.youtube{
    margin: 100px;
}